
footer {
    background-color: var(--bs-sixthColor);
    margin-top: 59px;
}

#footer-content {
    padding: 60px 0 44px 0;
}


#footer-blog {
    margin-bottom: 40px;
    gap: px;
}

#footer-blog-item {
    padding: 10px 0!important;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    letter-spacing: -3%;
    margin-bottom: 0px;
}

#footer-blog-item p {
    margin-left: 12px;
    margin-bottom: 0;
}

#footer-courses {
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    letter-spacing: -3%;

}

#footer-courses-item {
    padding: 0!important; 
}

#footer-blog-item, #footer-courses{
    color: var(--bs-seventhColor);
}

#footer-left h3 {
    color: var(--bs-firstColor);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -2%;
    line-height:20.8px;
    margin-bottom: 20px;
}

