
footer {
    background-color: var(--bs-sixthColor);
    margin-top: 59px;
}

#footer-content {
    padding: 60px 0 44px 0;
}

#footer-blog {
    margin-bottom: 40px;
}

#footer-blog-item {
    @include typography();
    padding: 10px 0!important;
    margin-bottom: 0px;
}

#footer-blog-item p {
    margin-left: 12px;
    margin-bottom: 0;
}

#footer-blog{
    gap: 9px;
}

#footer-courses {
    @include typography();
}

#footer-courses-item {
    padding: 0!important; 
    margin-left: 12px;
    margin-bottom: 0;
}

#footer-blog-item, #footer-courses{
    color: var(--bs-seventhColor);
}

#footer-left h3 {
    color: var(--bs-firstColor);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -2%;
    line-height:20.8px;
    margin-bottom: 20px;
}

#footer-right h3 {
    color: var(--bs-fourthColor);
    @include typography();
    margin-bottom: 12px;
    @include for-lg-phone {
        margin-top: 26px;
    }
}

#footer-legality {
    @include typography();
    color: var(--bs-fourthColor);
    position: relative;
    top: 50px;
    @include for-xl-phone {
        top: 0px;
    }
}

#footer-icons .fa-brands{
    color: var(--bs-firstColor) ;
}

.fa-brands {
    border-radius: 100%;
    transition: all .4s;
}


.fa-brands:hover{
    transform: scale(1.5);
}

.fa-2x {
    font-size: 23px;
}
